<marquee behavior="" direction="right"><h1 style="color: blue;">Welcome To My Library</h1></marquee> 
<center >
<h3>List of Peoples</h3>
<%= link_to 'Peoples', person_peoples_path%>

<br><br>

<h3>List of Librarians</h3>
<%= link_to 'Librarian', librarian_peoples_path%>

<br><br>

<h3>List of Students</h3>
<%= link_to 'Student', student_peoples_path%>

<br><br>

<%= link_to "Add New User", new_people_path %>
</center>